{% extends 'base.html' %}

{% block content %}
<div class="row py-5">
    <div class="col-3"></div>

    <div class="col-6">
        <div class="card">
            <div class="card-header text-center">
                <strong class="h6">CREATE/UPDATE ROOM</strong>
            </div>

            <div class="card-body">              
                <form method="POST"
                    action=""
                    role="form"
                    enctype="multipart/form-data"
                >
                    {{ form.csrf_token }}
                    
                    <div class="form-group">                          
                        <label for="room_topic">Enter a Topic*</label> 
                        {% if room %}
                            <input type="text" value="{{ room.topic.name }}" name="topic" list="topic-list" class="form-control" required>  
                        {% else %}
                            <input type="text" value="" name="topic" list="topic-list" class="form-control" required>
                        {% endif %}
                        <datalist id="topic-list">
                        <select id="room_topic" >
                            {% for topic in topics %}
                                <option value="{{ topic.name }}">{{ topic.name }}</option>
                            {% endfor %}
                        </select>
                        </datalist>
                    </div>
                    
                    <div class="form-group">{{ form.head.label }}*: {{ form.head(class="form-control") }}</div>
                    <div class="form-group">{{ form.description.label }}: {{ form.description(class="form-control") }}</div>
                    <div class="form-group">{{ form.link.label }} to source: {{ form.link(class="form-control") }}</div>                       
                    <div class="form-group">{{ form.image.label }}: {{ form.image(style='display:inline;', class="form-control-file") }}</div>                       

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
        </div>
    </div>

    <div class="col-3"></div>
</div>
{% endblock content %}
