{% extends 'base.html' %}

{% block content %}

<div class="row py-5">
    <div class="col-4"></div>

    <div class="col-4">
        <div class="card">
            <div class="card-header text-center">
                <strong class="h6">LOGIN</strong>
            </div>

            <div class="card-body">

                <form method="POST" action="{{ url_for('auth.login') }}" role="form">
                    {{ form.csrf_token }}
                    <div class="form-group mb-3">{{ form.username(class="form-control", placeholder="Username") }}</div>
                    <div class="form-group mb-3">{{ form.password(class="form-control", placeholder="Password") }}</div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" name="remember" id="remember">
                        <label class="form-check-label" for="remember">Remember me</label>
                    </div>
                    <button class="btn btn-primary text-center" type="submit">Login</button>
                </form>

                <p class="text-center">Don't have an account?<br><a href="{{ url_for('auth.register') }}">Create an account</a></p>

            </div>
        </div>
    </div>

    <div class="col-4"></div>
</div>

{% endblock content %}
