
<div class="row align-items-center pt-2">

  <div class="col-3">
    <h1><a href="{{ url_for('main.index') }}" class=""><img src="{{ url_for('static', filename='images/dev.png') }}" style="width: 130px; height: 40px;" class="ml-5 mt-2" alt="LOGO"></a></h1>
  </div>

  <div class="col-5">
    <form class="form-inline" method="GET" action="{{ url_for('main.index') }}">
      <input class="form-control mr-sm-2 bg-light" type="search"  name="q" placeholder="Search ..." aria-label="Search">
    </form>
  </div>

  <div class="col-4 d-flex justify-content-end">
    <div class="mx-3 py-2">
    {% if current_user.is_authenticated %}
      <a href="{{ url_for('auth.login') }}"><button class="btn btn-light border rounded text-secondary mr-2">Messages</button></a>
      <a href="{{ url_for('main.profile', id=current_user.id) }}"><button class="btn btn-light border rounded text-secondary mr-2">Profile</button></a>
      <a href="{{ url_for('auth.logout') }}"><button class="btn btn-light border rounded text-secondary">Logout</button></a>
    {% else %}
      <a href="{{ url_for('auth.login') }}"><button class="btn btn-light border rounded text-secondary">Login</button></a>
    {% endif %}
    </div>
  </div>

</div>
<hr>


